
<div class="page-container">
    <div class="main-content">
        <div class="container-fluid">
                <!-- Breadcrumb Start -->
                <div class="row">
                    <!-- POST -->

                    <!--  Post -->
                    <div class="col-md-12">
                        
                        <section class="content">
                            <!-- Info boxes -->
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <a href="/admin/users" class="info-boxed">
                                        <span class="info-box-icon bg-color"><i class="fas fa-users"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Người dùng</span>
                                            <span class="info-box-number"></span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </a>
                                <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <a href="/admin/posts" class="info-boxed">
                                        <span class="info-box-icon bg-color"><i class="far fa-newspaper"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Bài viết</span>
                                            <span class="info-box-number"></span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </a>
                                <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                                <!-- fix for small devices only -->
                                <div class="clearfix visible-sm-block"></div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <a href="/admin/notifications" class="info-boxed">
                                        <span class="info-box-icon bg-color"><i class="fas fa-bullhorn"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Thông báo</span>
                                            <span class="info-box-number"></span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </a>
                                <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <a href="/admin/comments" class="info-boxed">
                                        <span class="info-box-icon bg-color"><i class="far fa-comments"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Bình luận</span>
                                            <span class="info-box-number"></span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </a>
                                <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                    </div>
                </div>
            </div>
    </div>
    
</div>


