<div class="page-container">
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
             <h2 class="col-12  bg-secondary text-light rounded mb-3">Danh sách phòng ban</h2>
            <!-- Breadcrumb Start -->
            <div class="row">
               
                {{!-- List Faculity --}}
                <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/saudaihoc">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Phòng sau đại học</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/daihoc">
                    <div class="img-faculty">
                         <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Phòng đại học</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/dientoanvamaytinh">
                    <div class="img-faculty">
                         <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Phòng Điện toán và máy tính</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/khaothikiemdinh">
                    <div class="img-faculty">
                         <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Phòng Khảo thí và kiểm định chất lượng</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/taichinh">
                    <div class="img-faculty">
                         <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Phòng tài chính</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/CLC">
                    <div class="img-faculty">
                         <img  src="../img/TDT.jpg"> 
                         <div class="overlay"> TDT Creative Language Center</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/tinhoc">
                    <div class="img-faculty">
                         <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Trung tâm tin học</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/phattrienxahoi">
                    <div class="img-faculty">
                         <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Trung tâm đào tạo phát triển xã hội (SDTC)</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/quanlyungdungcongnghe">
                    <div class="img-faculty">
                          <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/doanhnghiepcuusinhvien">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/luat">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Khoa luật</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/ngoaingutinhoc">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/chinhsachkinhte">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Viện chính sách kinh tế và kinh doanh</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/mtcn">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Khoa Mỹ thuật công nghiệp</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/ddt">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Khoa Điện – Điện tử</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/cntt">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Khoa Công nghệ thông tin</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/qtkd">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Khoa Quản trị kinh doanh</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/mtbvld">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Khoa Bảo vệ lao động </div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/ldcd">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Khoa Lao động công đoàn</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/tcnh">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Khoa Tài chính ngân hàng</div>
                    </div>
                </a>
                </div>

                 <div class="col-md-3 col-lg-2 mb-3">
                <a href="/notify/gdqt">
                    <div class="img-faculty">
                        <img  src="../img/TDT.jpg"> 
                         <div class="overlay">Khoa giáo dục quốc tế</div>
                    </div>
                </a>
                </div>

                
        
               
                  {{!-- End List Faculity --}}
               
               
                <!--End  Announce -->
            </div>
            <!-- Breadcrumb End -->
        </div>


    </div>
    <!-- Content Wrapper END -->

    <!-- Footer START -->
    

</div>


