<div class="page-container">
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- Breadcrumb Start -->
            <div class="row" id="luan-notice" data-theme="{{theme}}";
               
            </div>
        </div>


    </div>
    

</div>

<script>
    var postPage = 1;
    var disabledLoadMore = false;

    $(document).ready(function() {
        getAllNotifications(1);
    })
    $(window).scroll(function() {
        var scrollTop = $(this).scrollTop();
        var heightWindow = $(this).height();
        var documentHeight = $(document).height();
        if (Math.round(heightWindow + scrollTop) >= documentHeight -100 ){
            if (!disabledLoadMore ) {
                console.log(disabledLoadMore)
                loadMore();
            }
            
        }
    })

    function getAllNotifications(page) {
        let theme = $('#luan-notice').data('theme');
        console.log(theme);
        const URL = `/notify/api/${theme}?page=${page}`;
        $.ajax({
            url: URL,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.length === 0) {
                    disabledLoadMore = true;
                }
                renderNotification(data);
            }
        })
    }
    function renderNotification(notices) {
        let html = '';
        $.each(notices, function(index, notice) {
            html += `<div class="col-md-12 p-20  mt-2 notify-block-blue d-flex flex-column luan-div">`;
                html += `<span class="notify-title">${notice.userName}</span>`
                html += `<span class="notify-desc-blue luan-notice">${notice.hint}</span>`
                html += `<div class="d-flex flex-row">`
                    html += `<a class="notify-link" href="/post/detail/${notice.postID}">Chi tiết thông báo</a>`
                    html += `<span class="ml-auto">Ngày đăng   ${notice.createAt}</span>`
                html +=`</div>`
            html += `</div>`

        })
        $('#luan-notice').append(html);
    }
    function loadMore() {
        postPage++;
        getAllNotifications(postPage);
    }
</script>


